<section class="card">
  <!-- The contents of this card links to the blogpost page using the blogpost ID -->
  <a href="/blogpost/{{id}}">
    <!-- The card contains the blogpost title as the card header -->
    <header>{{title}}</header>
    <p>{{created_at}}</p>
    <!-- The card contains the content of the blogpost -->
    <p>{{content}}</p>
  </a>
</section>