<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECHNOBABBLE</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../semantic/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="ui stackable pointing fixed inverted menu">
        <div class="item">
          <a href="/"> <h1>TECHNOBABBLE</h1></a>
        </div>
        <div class="right menu">
          <li class="item">
            <a href="/">Home</a>
          </li>
          <li class="item"><a href="/dashboard">Dashboard</a></li>
          {{#if loggedIn}}
            <li class="item"><a href="/logout">Logout</a></li>
          {{else}}
            <li class="item"><a href="/login">Log In</a></li>
            <li class="item"><a href="/signup">Sign Up</a></li>
          {{/if}}
        </div>
      </nav>
    </header>


{{!-- masthead
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item">Home</a>
          <a class="item">Work</a>
          <a class="item">Company</a>
          <a class="item">Careers</a>
          <div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          Imagine-a-Company
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary button">Get Started
          <i class="right arrow icon"></i></div>
      </div>

    </div>
masthead end --}}

    {{!-- <main>
      <div class="ui main text container"> --}}
        {{{body}}}
      {{!-- </div>
    </main> --}}

    <footer id="footerstay" class = "inverted">
      <div class="ui vertical footer segment inverted">
        <div class="ui center aligned container">
          Built by Grace Yao 2023.
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
  </body>

</html>