<section class="container">
      <!-- The card contains the blogpost title as the card header -->
    <header>{{blogpost.title}}</header>
    
  <p>Posted by {{blogpost.User.name}} on {{blogpost.created_at}}</p>
    <!-- The card contains the content of the blogpost -->
    <p>{{blogpost.content}}</p>
  <!-- If the user is logged in, render the comments-->
  {{#if loggedIn}}
   {{#each blogpost.comments}}
   {{>comment-card}}
   {{/each}}







  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>

  {{/if}}

  </section>