<section class="container">
  <h3>{{blogpost.tit}}</h3>
  <h4>{{user.name}}</h4>
  <h4>{{blogpost.created_at}}</h4>
  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}