<div id="signinForm">
    <h2 class="primary header">
        <div class="content">
            Log-in to your account
        </div>
    </h2>
   
        <div class="ui four column centered grid">
            <div class="column" id="loginModal">
                <form class=" floating ui large form" id="login-form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" id="email-login" placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password-login" name="password" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" id="login-submit" class="ui fluid large primary submit button">Login</button>
                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui floating message flex">
                    <p>New to the blog? <a href="/signup">Sign Up!</a></p>
                </div>
            </div>
        </div>
   