{{! <div class="ui segment">
  <div class="ui active dimmer" id="signup_dimmer">
    <div class="ui text loader">Loading</div>
  </div> }}
<div id="signupForm">
  <h2 class="primary header">
    <div class="content"> Join Technobabble!</div>
  </h2>

  <div class="ui four column centered grid">
    <div class="column" id="signupModal">
      <form class="ui large inverted form" id="signup-form">
        <div class="ui stacked inverted segment" id="boxShadow">
          <div class="field">
            <label>Username</label>
            <input
              type="text"
              id="username"
              name="name"
              placeholder="Enter your username here"
            />
          </div>
          <div class="field">
            <label>Email</label>
            <input
              type="text"
              id="email-signup"
              name="email"
              placeholder="Enter your email here"
            />
          </div>
          <div class="field">
            <label>Password</label>
            <input
              type="password"
              id="password-signup"
              name="password"
              placeholder="Enter password here"
            />
          </div>
          <div class="flex">
            <button
              class="ui fluid large primary submit button"
              id="submit"
              type="submit"
            >Sign up!</button>
          </div>
        </div>
      </form>
      
      <div class="ui floating message flex">
        <p>Already registered? <a href="/login">Log in here! </a></p>
      </div>
    </div>

  </div>

</div>