*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

main {
  /* padding-bottom: 60px; */

  min-height: 100%;
  /* display: flex;
  flex-direction: column; */
}

h2 {
  text-align: center;
  padding-bottom: 15px;
}

.footer {
  margin-top: -50;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

#signinForm,
#signupForm {
  padding-top: 3rem;
}

#loginModal {
  min-width: 400px;
}

#signupModal {
  min-width: 400px;
}

#boxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#blogform {
  margin-top: 10rem;
  margin-left : 2rem;
  min-width: 200px;
}

.blogpostCard {
  margin: 2rem;
  min-width: 200px;
}

.main.container {
  margin-top: 5em;
  /* padding-bottom: 60px; */
}
